@model IEnumerable<ExamenSADE_SupleantuSara.Models.LibraryViewModels.OrderGroup>
@{
 ViewData["ProductName"] = "Ordered Products Statistics";
}

<h2>Ordered Products Statistics</h2>
<table>
    <tr>
       <th>
          Order Date
       </th>
       <th>
          Ordered Products
       </th>
     </tr>
     @foreach (var item in Model)
     {
        <tr>
          <td>
             @Html.DisplayFor(modelItem => item.OrderDate)
          </td>
          <td>
             @item.ProductCount
          </td>
        </tr>
      }
</table>
